/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    scroll-behavior: smooth;

  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    /* border: 0; */
    /* border-top: 1px solid #ccc; */
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  

:root {
    --red:#000000;
    --black:#252a34;
    --blue:#eeae00;
    --white:#eaeaea;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body {
    background: #fff;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    flex-wrap: wrap;
}
h2 {
    font-weight: 500!important;
}

p {
    text-align: center;
    font-size: 17px;
    color: var(--black);
    line-height: 35px;
    margin: 10px 0px;
}

/* Ir arriba */

.ir-arriba {
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    background: var(--red);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 200ms ease;
    z-index: 9999999999;
}

.ir-arriba:hover {
    background: var(--blue);
}

.ir-arriba span {
    font-size: 40px;
    color: var(--white);
}

.ir-arriba:hover span {
    color: var(--white);
}



/* Skew */
.skew-arriba {
    position: absolute;
    top: 0;
    left: 0;
    border-width: 7vh 100vw 0 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    z-index: 10;
}
.skew-abajo {
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 7vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

/* Menú de Navegación */
#header {
    position: relative;
    width: 100%;
    margin: auto;
}


.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    /* background: rgb(0,0,0);
    background: rgb(255,255,255);
    background: rgb(247,247,247);
    background: -moz-linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 55%, rgba(236,236,236,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 55%, rgba(236,236,236,1) 100%);
    background: linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 55%, rgba(236,236,236,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7",endColorstr="#ececec",GradientType=1); */
}
.menu {
    width: 100%;
}
.menu .logo-box {
    letter-spacing: -9999px;
}
.menu .logo-box img {
    width: 100px;
    cursor: pointer;
    
    

}

.menu .list-container {
    margin-right: 20px;
}

.menu .list-container .lists {
    display: flex;
}

.menu .list-container .lists li {
    list-style: none;
}

.menu .list-container .lists li a {
    text-decoration: none;
    margin: 0px 20px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}

.menu .list-container .lists li a.activo {
    background: var(--red);
    color: #fff;
} 

.menu .list-container .lists li a:hover {
    background: var(--red);
    color: #fff;
} 

.btn-menu > .fa-bars {
    display: none;
}



/* Header */
.img-header {
    position: relative;
    width: 100%;
    height: 100vh;
}

.img-header .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.img-header .welcome {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-header .welcome img {
    width: 30%;
}

.img-header .welcome hr {
    width: 33%;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 50px;
}

.img-header .welcome h2 {
    font-size: 30px;
    width: 50%;
    color: #fff;
    margin-bottom: 0px;
    text-align: center;
}

.img-header .welcome > a {
    width: 170px;
    height: 40px;
    padding-top: 5px ;
    background: var(--red);
    border: 2px solid var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: var(--white);
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.img-header .welcome > a:hover {
    background: var(--blue);
    border: 2px solid var(--blue);
    color: var(--black);
}


/* Acerca de Nosotros */
.contenedor {
    width: 100%;
    padding-top: 100px;
    margin-top: 200px
}

.contenedor .info-container {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.contenedor .btn {
    color: white;
    text-align: center;
}

.contenedor .btn a {
    width: 170px;
    height: 50px;
    border-radius: 24px;
    border: 2px solid var(--red);
    background-color: var(--red);
    font-size: 20px;
    color: #fff;
    display: inline-block;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.contenedor .btn a:hover {
    border: 2px solid var(--blue);
    background-color: var(--blue);
    color: var(--black);
}

.contenedor .info-container h2 {
    font-size: 30px!important;
    color: var(--black);
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.contenedor .info-container p {
    text-align: center;
    font-size: 17px;
    color: var(--black);
    line-height: 35px;
    margin: 10px 0px;
}

.contenedor .info-container .gallery {
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    flex-wrap: wrap;
}

.contenedor .info-container .gallery img {
    width: calc(30% - 10px);
    height: 300px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* Página Nosotros */
.box-nosotros {
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-nosotros .about-us{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0px;
    
}
.box-nosotros .about-us {
    width: 40%;
    margin: 30px;
}
.box-nosotros .about-us .nosotros-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-nosotros .about-us .nosotros-img img { /* Tamaño de imagenes y borde redondeado */
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 30px;
    transition: 200ms;
}
.box-nosotros .about-us .nosotros-img img:hover {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
} 
.box-nosotros .about-us .nosotros-text {
    width: 100%;
    border: 2px solid var(--blue);
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}
.box-nosotros .about-us .nosotros-text h3 {
    color: var(--blue);
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}
.box-nosotros .about-us .nosotros-text:hover {
    border: 2px solid var(--blue);
}

.box-nosotros .about-us .nosotros-text:hover h3 {
    color: var(--blue);
}
.box-nosotros .about-us .nosotros-text p {
    font-size: 19px;
    text-align: center;
    color: var(--black);
    line-height: 30px;
    transition: 200ms;
}


.contendeor .info-container .about-more {
    width: 100%;
    justify-content: center!important;
}

.contenedor .about-more {
    display: block;
}


/* Nuestros Proyectos */

.our-projects {
    position: relative;
    height: auto;
    background: url(../img/img-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 100px;
}
.proyectos {
    position: relative;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 100px;
}

.proyectos .ejeZproject {
    position: relative;
    width: 100%;
    height: 100%;
}

.proyectos .container-project {
    width: 90%;
    margin: auto;
    padding-top: 100px;
}

.proyectos .container-project .project-title {
    border: 2px solid #fff;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
}

.proyectos .container-project .project-title h2 {
    font-size: 40px;
    color: var(--black);
}

.proyectos .container-project .project-img {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    padding-bottom: 100px;
    
}

.proyectos .container-project .project-img img {
    width: 40%;
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    
}

.our-projects .deg-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.);
}

.our-projects .ejeZproject {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

.our-projects .container-project {
    width: 100%;
    margin: auto;
    padding-top: 100px;
}

.our-projects .container-project .project-title {
    border: 2px solid #fff;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
}

.our-projects .container-project .project-title h2 {
    font-size: 40px;
    color: #fff;
}

.our-projects .container-project .project-img {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    padding-bottom: 100px;
    
}

.our-projects .container-project .project-img img {
    width: 40%;
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 20px black;
}

/* Mapa */

.ubicacion {
    width: 100%;
    margin-top: 120px;
}

.ubicacion h2 {
    width: 50%;
    font-size: 50px;
    color: var(--black);
    margin-bottom: 20px;
    margin: auto;
    text-align: center;
}

.mapa {
    height: 420px;
    margin-top: 20px;
}


/* Testimonios */

.testimonios {
    width: 100%;
    margin-top: 120px;
}

.testimonios .testimonios-title {
    width: 50%;
    margin: auto;
    text-align: center;
}

.testimonios .testimonios-title h2 {
    font-size: 50px;
    color: var(--black);
}

.testimonios .testimonios-title hr {
    width: 60%;
    margin: auto;
    height: 2px;
    background: var(--black);
    border: none;
}

.testimonios .box-testimonios {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonios .box-testimonios .card-testimonio {
    width: 40%;
    margin: 30px;
}

.testimonios .box-testimonios .card-testimonio .card-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonios .box-testimonios .card-testimonio .card-img img { /* Tamaño de imagenes y borde redondeado */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 30px;
    transition: 200ms;
    
}

.testimonios .box-testimonios .card-testimonio .card-img img:hover {
    width: 170px;
    height: 170px;
    margin-bottom: 10px;
} 

.testimonios .box-testimonios .card-testimonio .testimonio-text {
    width: 100%;
    border: 2px solid var(--red);
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.testimonios .box-testimonios .card-testimonio .testimonio-text h3 {
    color: var(--red);
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.testimonios .box-testimonios .card-testimonio .testimonio-text p {
    font-size: 19px;
    text-align: center;
    color: var(--black);
    line-height: 30px;
    transition: 200ms;
}

.testimonios .box-testimonios .card-testimonio .testimonio-text:hover {
    border: 2px solid var(--blue);
}

.testimonios .box-testimonios .card-testimonio .testimonio-text:hover h3 {
    color: var(--blue);
}

/* Newsletter */
.newsletter {
    position: relative;
    height: auto;
    background-image: url(../img/zoe-11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.newsletter .contenido {
    padding: 150px 0;
    color: white;
    text-align: center;
}

.newsletter .contenido p {
    font-size: 22px;
    margin-bottom: 20px;
    color: white;
}

.newsletter .contenido img {
    width: 350px;
    margin: 20px;
    object-fit: cover;
}

.button .transparente {
    background-color: transparent;
}

.button {
    width: 170px;
    height: 50px;
    border-radius: 24px;
    border: 2px solid #ffffff;
    /* outline: none; */
    font-size: 20px;
    color: #fff;
    display: inline-block;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease;  
}

.button:hover {
    background: var(--red);
    border: 2px solid var(--blue);
}

/* Página Servicios */
.contenedor .service-container {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.contenedor .service-container h2 {
    font-size: 50px;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
}

.contenedor .service-container .gallery-img .card-servicio {
    position: relative;
    display: inline;
    text-align: center;
    cursor: pointer;
}

.contenedor .service-container .gallery-img .card-servicio .texto-encima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.contenedor .service-container .gallery-img .card-servicio .texto-encima h3 {
    color: var(--white);
    text-shadow: 3px 3px 15px #000;
    font-size: 40px;
}
.contenedor .service-container .gallery-img .card-servicio:hover .texto-encima h3 {
    color: var(--white);
    text-shadow: 3px 3px 15px #000;
    font-size: 45px;
    transition: 200ms ease;
}

.contenedor .service-container .gallery-img {
    margin-top: 30px;
}

.contenedor .service-container .gallery-img .card-servicio img {
    width: calc(30% - 20px);
    height: 300px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 25px;
    

}
/* Página Contacto */
.img-box {
    position: relative;
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    background: url(../img/zoe-11.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.contenedor-img .formulario-title {
    width: 70%;
    margin: auto;
    border: 2px solid #fff;
    align-content: center;
}
.contenedor-img .formulario-title h2 {
    width: 100%;
    margin: 10px auto;
    color: #fff;
}

.contenedor .info-container .contenedor-img .formulario-content {
    width: 60%;
    background: #fff;
    border-radius: 24px;
    border: 2px solid var(--blue);
    padding-top: 30px;
    margin: 50px auto;  
}
.contenedor .info-container .contenedor-img .formulario-content #formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.contenedor .info-container .contenedor-img .formulario-content #formulario label {
    text-align: center;
    color: var(--black);
    font-size: 22px;
    margin: 30px 0px 10px 0px;
}
.contenedor .info-container .contenedor-img .formulario-content #formulario input {
    width: 80%;
    height: 40px;
    margin: auto;
    border: 2px solid var(--blue);
    border-radius: 24px;
    outline: none;
    text-align: center;
    font-size: 17px;
    color: var(--black);
}
.contenedor .info-container .contenedor-img .formulario-content #formulario textarea {
    width: 80%;
    height: 200px;
    margin: auto;
    border: 2px solid var(--blue);
    border-radius: 24px;
    outline: none;
    font-size: 15px;
    padding: 20px;
    color: var(--black);
}
.contenedor .info-container .contenedor-img .formulario-content #formulario .send {
    width: 100%;
    display: flex;
    margin: 40px 0px;
    justify-content: center;
}
.contenedor .info-container .contenedor-img .formulario-content #formulario .send button {
    width: 150px;
    height: 50px;
    border-radius: 24px;
    border: 2px solid var(--red);
    background-color: var(--red);
    /* outline: none; */
    font-size: 20px;
    color: #fff;
    display: inline-block;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}
.contenedor .info-container .contenedor-img .formulario-content #formulario .send button:hover {
    background: var(--blue);
    border: 2px solid var(--blue);
}
.contenedor .info-container .contenedor-img .formulario-content #formulario .mensaje-form {
    padding-bottom: 20px;
}


/* Footer */

.site-footer {
    position: relative;
    width: 100%;
    background-color: var(--black);
    color: white;
    display: flex;
}

.site-footer .footer-container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}
.site-footer .footer-container .colaboradores {
    width: 50%;
}

.site-footer .footer-container img {
    left: 0px;
    width: 100px;
    vertical-align: middle;
    margin: 15px; 
}

.site-footer .redes-sociales {
    margin-top: 20px;
    text-align: center;
    width: 50%;
}

.site-footer .redes-sociales h3 {
    margin-bottom: 10px;
}

.site-footer .redes-sociales h3 span {
    border: 2px solid var(--blue);
    background-color: var(--blue);
    color: #252a34;
}

.site-footer .redes-sociales a {
    color: var(--blue);
    font-size: 35px;
    margin: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

.site-footer .redes-sociales a:hover {
    color: var(--red);
}

.site-footer hr {
    width: 60%;
    margin: auto;
    height: 2px;
    background: var(--white);
    border: none;
}

.site-footer p {
    font-size: 15px;
    text-align: center;
    padding: 20px;
    color: white;
    width: 100%;
}
.site-footer .legales {
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}
.site-footer .legales a {
    color: white;
    margin: 20px;
}

/* Proyectos */
.our-projects .ejeZproject .container-project .galeria-proyectos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 60%;
    margin: auto;
    grid-gap: 20px;
    padding: 40px 0;
    overflow: hidden;
}
.galeria-proyectos .galeria-item img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
.galeria-proyectos .galeria-item > a {
    
    overflow:hidden;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
}
.galeria-proyectos .galeria-item a:hover img {
    filter: brightness(110%);
}

.galeria-proyectos .galeria-item:nth-child(1) {
    grid-row-start: span 2;
    grid-column-start: span 3;
}
.galeria-proyectos .galeria-item:nth-child(2) {
    grid-column-start: span 2;
}
.galeria-proyectos .galeria-item:nth-child(3) {
    grid-column-start: span 2;
}
.galeria-proyectos .galeria-item:nth-child(5) {
    grid-column-start: span 2;
}
.galeria-proyectos .galeria-item:nth-child(7) {
    grid-column-start: span 2;
}
.galeria-proyectos .galeria-item:nth-child(4) {
    grid-column-start: span 3;
}
.galeria-proyectos .galeria-item:nth-child(8) {
    grid-column-start: span 2;
}
.galeria-proyectos .galeria-item:nth-child(9) {
    grid-column-start: span 2;
}
.galeria-proyectos .galeria-item:nth-child(10) {
    grid-column-start: span 3;
}
.galeria-proyectos .galeria-item:nth-child(11) {
    grid-column-start: span 2;
}
.galeria-proyectos .galeria-item:nth-child(6) {
    grid-row-start: span 3;
    grid-column-start: span 3;
}
.galeria-proyectos .galeria-item:nth-child(12) {
    grid-column-start: span 5;
}

/* Página Proyectos */
.proyectos {
    width: 90%;
    margin: auto;
    overflow: hidden;
    
}
.proyectos .ejeZproject .container-project .project-title h2 {
    font-size: 25px!important;
}
.proyectos .ejeZproject .container-project .galeria-proyectos {
    width: 70%;
    margin: auto;
}
.proyectos .ejeZproject .container-project .galeria-proyectos .proyecto-item {
    display: flex;
}

.in-flex {
    padding: 20px;
    width: 50%;
}
.in-flex:first-child {
    padding: 20px;
    width: 50%;
    object-fit: cover;
    border-radius: 35px; 
}
.proyectos .ejeZproject .container-project .galeria-proyectos .proyecto-item .ficha ul li {
    list-style: none;
}
.in-flex h3 {
    font-size: 30px;
    margin-bottom: 20px;
}
.in-flex h4 {
    background: var(--blue);
    text-align: center;
    margin-bottom: 10px;
}
.galeria-proyectos .proyecto-item .ficha h3 span {
    font-style: italic;
    font-size: 25px;
    font-weight: 300;
}
.galeria-proyectos .proyecto-item .ficha ul li span {
    font-style: italic;
    font-weight: 700;
}
.festivales {
    font-size: 11px;
}




    



/* Media Queries */
/**************************************  Media Query 1450  ****************************************/

@media only screen and (max-width:1450px) {

    /*********** Navegacion **********/
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .menu .logo-box {
        padding-left: 20px;
    }
    
    /* .menu .list-container .lists li a {
        margin: 10px;
        float: right;
    } */

    /*********** Header *************/
    .video-container #video{
        width: 100%;
    }
    .img-header .welcome h2 {
        text-align: center;
        width: 50%;
    }

    /*********** Acerca de *************/
    .contenedor {
        padding-top: 0px;
        margin-top: 0px
    }
    .contenedor .info-container .gallery img {
        width: calc(30% - 10px);
        height: 300px;
        object-fit: cover;
        margin: 10px 10px;
        border-radius: 10px;
        cursor: pointer;
    }

    /*********** Servicios **********/
    .contenedor .service-container .gallery-img .card-servicio .texto-encima h3 {
        font-size: 30px;
    }
    .contenedor .service-container .gallery-img .card-servicio:hover .texto-encima h3 {
        font-size: 35px;
    }
    .contenedor .service-container .gallery-img .card-servicio img {
        width: calc(40% - 20px);
    }


    /************* Pagina Nuestros Proyectos *************/
    .our-projects .ejeZproject {
        width: 100%;
    }
    .our-projects .ejeZproject .container-project .galeria-proyectos {
        width: 100%;
        grid-gap: 7px;
    }
    .our-projects .ejeZproject .container-project .galeria-proyectos .galeria-item img {
        border-radius: 5px;
    }
    .proyectos .ejeZproject .container-project .galeria-proyectos {
        width: 100%;
    }
    .proyectos .ejeZproject {
        width: 100%;
    }
    .proyectos .ejeZproject .container-project {
        width: 100%;
    }
}

/**************************************  Media Query 1070  ****************************************/
@media only screen and (max-width: 1070px) {
    /* Menú de Navegación */
    #header {
        position: relative;
        width: 100%;
        margin: auto;
    }


    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 9999;
    }
    .menu {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        
        
    }
    .menu .logo-box {
        letter-spacing: -9999px;
        align-items: center;
        justify-content: space-between;
    }
    .menu .logo-box img {
        width: 90px;
        cursor: pointer;
        

    }

    .menu .list-container {
        margin-right: 20px;
    }

    .menu .list-container .lists {
        display: flex;
    }

    .menu .list-container .lists li {
        list-style: none;
    }

    .menu .list-container .lists li a {
        text-decoration: none;
        margin: 0px 10px;
        padding: 8px;
        color: var(--black);
        border-radius: 24px;
        font-size: 16px;
        transition: 0.3s;
    }

    .menu .list-container .lists li a.activo {
        background: var(--red);
        color: #fff;
    } 

    .menu .list-container .lists li a:hover {
        background: var(--red);
        color: #fff;
    } 

    .btn-menu > .fa-bars {
        display: none;
    }
    /********* Header *********/
    .img-header .welcome img {
        width: 30%;
    }
    .img-header .welcome h2 {
        width: 50%;
    }
    .img-header .welcome hr {
        margin-top: 20px;
    }
    /********** Acerca de **********/
    .contenedor .info-container .gallery img {
        width: calc(40% - 10px);
    }



    /************* Pagina Nuestros Proyectos *************/
    .our-projects .ejeZproject .container-project .galeria-proyectos {
        width: 100%;
        grid-gap: 7px;
    }
    .our-projects .ejeZproject .container-project .galeria-proyectos .galeria-item img {
        border-radius: 5px;
    }
    .proyectos .ejeZproject .container-project .galeria-proyectos {
        width: 100%;
    }
}




/**************************************  Media Query 768  ****************************************/

@media only screen and (max-width: 768px) {

    /************** Navegación ***************/
    .menu {
        display: flex;
        justify-content: space-between; 
        align-items: center;
     }
    .menu .logo-box {
        margin: 10px 0 10px 10px;
    }

    .menu .logo-box img {
        width: 10%; 
    }
    .btn-menu .fa-bars {
        display: block;
        position: absolute;
        width: 28px;
        top: 20px;
        right: 10px;
        font-size: 28px;
        cursor: pointer;
    }
    .btn-menu .fa-bars:hover {
        color: var(--red);
        transition: 0.3s ease-in-out;
    }
    .btn-menu .fa-times {
        color: var(--blue);
    }
    .menu .list-container {
        position: absolute;
        top: 70px;
        left: -100%;
        width: 100%;
        height: calc(60vh - 100px);
        background: #fff;
    }
    .menu .list-container .lists {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 5px solid var(--red);
    }
    .menu .list-container .lists li {
        width: 90%;
        margin: 10px 0px;
        border-bottom: 1px solid var(--red);
        text-align: center;
    }
    .menu .list-container .lists li a{
        font-size: 20px;
        
    }
    .menu .list-container .lists li a.activo {
        background: none;
        color: var(--red);
    }
    .menu .list-container .lists li a:hover {
        background: none;
        color: var(--red);
    }

    /*********** Header *************/
    .img-header {
        width: 100%;
    }
    .img-header .video-container {
        width: 100%;
        
    }
    .img-header .video-container video {
        object-fit: cover;
        width: 35vw;
        height: 100vh;
    }
    
    
    .img-header .welcome {
        width: 100%;
        top: 120px;
        height: 100vw;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        align-items: center;
    }
    .img-header .welcome img {
        width: 50%;

    }
    
    .img-header .welcome h2 {
        font-size: 20px;
        margin-bottom: 35px;
        width: 30%;
    }
    
    .img-header .welcome hr {
        width: 30%;
        height: 1px;
        background: #fff;
        border: none;
        margin-top: 10px;
    }
    
    .img-header .welcome p {
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 50px;
        line-height: 15px;
        
    }
    .img-header .welcome > a {
        font-size: 17px;
        width: 28%;
    }
    .img-header .welcome a {
        margin-top: 0px;
        padding-top: 8px;
        
    }

    /************* Acerca de **************/
    .contenedor {
        padding-top: 60px;
    }
    .contenedor .box-nosotros {
        padding-bottom: 50px;
    }
    .contenedor .info-container h2 {
        font-size: 25px !important;
    }
    .contenedor .info-container .gallery {
        margin: 0px 0px;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: auto;
    }
    .box-nosotros .about-us{
        margin: 0px;
        margin-top: 60px;
    }
    .box-nosotros .about-us .nosotros-text {
        padding: 10px;
    }
    .box-nosotros .about-us .nosotros-text h3 {
        margin-bottom: 0px;
    }
    .box-nosotros .about-us .nosotros-text p{
        margin: 0px;
        
    }
    .contenedor .info-container .gallery img {
        width: 100%;
        height: 35vw;
    }
    .contenedor .info-container .box-nosotros .about-us .nosotros-text p {
        margin: auto;
    }
    .contenedor .info-container p{
        text-align: left;
        font-size: 17px;
        color: var(--black);
        line-height: 25px;
    }
    

    /*************** Nuestros Proyectos ****************/
    .our-projects {
        background-attachment: initial;
    }
    .our-projects .ejeZproject {
        width: 90%;
    }
    
    .our-projects .container-project .project-title {
        width: 85%;
    }
    .our-projects .ejeZproject .container-project .project-title h2 {
        font-size: 25px !important;
    }
    .our-projects .container-project .project-img {
        flex-direction: column;
    }
    
    .our-projects .container-project .project-img img {
        width: calc(100% - 10px);
    }

    /********** Mapa *********/
    .ubicacion {
        margin-top: 60px;
    }
    .ubicacion h2 {
        font-size: 25px !important;
    }

    /************ Testimonios ***********/
    .testimonios {
    margin-top: 80px;
    }
    .testimonios .box-testimonios {
        width: 100%;
    }
    .testimonios .testimonios-title h2 {
        font-size: 25px !important;
    }
    .testimonios .box-testimonios .card-testimonio {
        width: 100%;
    }
    .testimonios .box-testimonios .card-testimonio .testimonio-text {
        padding: 10px;
    }
    .testimonios .box-testimonios .card-testimonio .testimonio-text h3 {
        font-size: 18px;
    }
    .testimonios .box-testimonios .card-testimonio .testimonio-text p {
        font-size: 15px;
        text-align: center;
        color: var(--black);
        line-height: 20px;
        transition: 200ms;
        font-style: italic;
    }

    /*************** Newsletter **************/
    .newsletter {
        background-attachment: initial;
        margin-bottom: 100px;
    }
    .button {
        font-size: 18px; 
    }
    .newsletter .contenido p {
        font-size: 18px;
        margin-bottom: 0px;
    }
    .newsletter .contenido a {
        font-size: 17px;
        width: 28%;
    }
    .newsletter .contenido img {
        width: 300px;
        object-fit: cover;

    }
    .button {
        width: 130px;
        height: 45px;
        padding: 8px; 
    }

     /*************** Página Nosotros **************/
    .acerca-de {
        margin-top: 70px;
    }

    .box-nosotros {
        margin-top: 80px;
    }

    .box-nosotros .about-us {
            width: 100%;
    }
    .contenedor .info-container {
        width: 100%;
    }
    
    .contenedor .info-container p {
        width: 80%;
        margin: auto;
        text-align: left;
    }
    .contenedor .info-container .box-nosotros .about-us .nosotros-text p {
        text-align: center;
        
    }

   /************** Servicios **************/
   .contenedor .service-container {
        width: 100%;
        padding-bottom: 130px;
        padding-top: 30px;
    }
    .contenedor .service-container h2 {
        font-size: 25px !important; 
    }
    .contenedor .service-container p{
        width: 80%;
        margin: auto;
        line-height: 25px;
        text-align: left;
    }
   .contenedor .service-container .gallery-img .card-servicio img {
        width: calc(90% - 20px);
        height: 150px;
        border-radius: 15px;
    }
    .contenedor .service-container .gallery-img .card-servicio:hover .texto-encima h3 {
        font-size: 40px;
    }


    /************** Contacto *************/
    .img-box {
        height: 100%;
        background-attachment: initial;
    }
    .contenedor-img .formulario-title {
        width: 90%;
    }
    .contenedor-img .formulario-title h2 {
        font-size: 35px;
    }
    .contenedor .info-container .contenedor-img {
        padding-top: 50px;
        padding-bottom: 150px;
    }
    .contenedor .info-container .contenedor-img .formulario-content {
        width: 90%;  
    }
    .mensaje-form p{
        text-align: center!important;
    }

    /************ Footer *************/
    .site-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 150px;
        bottom: 0;
        left: 0;
        margin: 0px;
        position: fixed; 
        z-index: 99999;
    }
    .site-footer .footer-container {
        display: inline-block;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }
    .site-footer .footer-container p {
        font-size: 10px;
        padding: 0px;
        line-height: 10px;
    }
    .site-footer .footer-colaboradores {
        display: none;
    }
    
    .site-footer .redes-sociales {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 40px;
        margin-top: 10px;
        margin: auto;

    }
    .site-footer .footer-container .redes-sociales h3 {
        display: none;
    }
    .site-footer .footer-container .redes-sociales a {
        color: var(--blue);
        font-size: 35px;
        margin: 0px;
        cursor: pointer;
        transition: all 200ms ease;
    }
    .site-footer .legales {
        display: show !important;
        margin: 10px;
    }
    .site-footer .footer-container hr {
        height: 1px;
    }
    .site-footer .legales a {
        margin: 10px;
        font-size: 10px;
        text-decoration: none;
    }.site-footer .footer-container .redes-sociales {
        width: 100%;
        padding: 0 150px;
    }

    /************* Pagina Nuestros Proyectos *************/
    .our-projects .ejeZproject .container-project .galeria-proyectos {
        width: 100%;
        grid-gap: 7px;
    }

    .our-projects .ejeZproject .container-project .galeria-proyectos .proyecto-item img {
        border-radius: 5px;
    }
    .proyectos .ejeZproject .container-project {
        width: 100%;
    }
    
    .proyectos .ejeZproject .container-project .galeria-proyectos {
        width: 100%;
        margin: auto;
    }
    .proyectos .ejeZproject .container-project .project-title {
        width: 100%;
    }
    .proyectos .ejeZproject .container-project .galeria-proyectos .proyecto-item {
        width: 100%;
        display: block;
    }

    .proyectos .ejeZproject .container-project .galeria-proyectos .proyecto-item img {
        width: 100%;
        padding: 0px;
        border-radius: 15px;
    }
    .proyectos .ejeZproject .container-project .galeria-proyectos .proyecto-item .ficha {
        width: 100%;
        padding: 20px 0 60px 0;
    }
    .proyectos .ejeZproject .container-project .galeria-proyectos .proyecto-item .ficha h3 {
        text-align: center;
        line-height: 25px;
    }
    .proyectos .ejeZproject .container-project .galeria-proyectos .proyecto-item h3 span{
        font-size: 20px;
        line-height: normal;
    }
    .proyectos .ejeZproject .container-project .galeria-proyectos .hr-fichas {
        width: 100%;
        height: 2px;
        background: var(--black);
        border: none;
    }
    .proyectos .ejeZproject .container-project {
        padding-bottom: 150px;
    }
    

    
}

/**************************************  Media Query 630  ****************************************/

@media only screen and (max-width: 630px) {
    .menu .logo-box img {
        width: 15%;
    }
    .img-header .welcome img {
        width: 50%;
    }
    .img-header .welcome h2 {
        font-size: 15px;
        margin-bottom: 35px;
        width: 60%;
    }
    .img-header .welcome > a {
        font-size: 15px;
        padding-top: 10px
    }
    .site-footer .footer-container .redes-sociales {
        width: 100%;
        padding: 0px 50px;
    }
}
/**************************************  Media Query 430  ****************************************/

@media only screen and (max-width: 430px) {
    .menu .logo-box img {
        width: 20%;
    }
    

}

/**************************************  Media Query 360  ****************************************/

@media only screen and (max-width: 360px) {
    html {
        width: 360px;
    }
    /************** Header *************/
    .img-header {
        height: 97vh;
    }
    .img-header .welcome {
        top: 200px;
    }
    .img-header .welcome > a {
        font-size: 14px;
        width: 35%;
        height: 30px;
        padding: 5px 0px;
    }

    /************ Acerca de Nosotros *************/
    .contenedor .info-container h2 {
        font-size: 20px !important;
    }
    .contenedor .info-container p {
        font-size: 15px;
        line-height: 17px;
        text-align: left;
    }
    .contenedor .btn a {
        font-size: 14px;
        width: 35%;
        height: 30px;
        padding: 4px 0px 0px 0px; 
    }

    /************ Pagina Nosotros **********/
    .contenedor .info-container .box-nosotros {
    margin-top: 0px;
    width: 100%;
    }
    .contenedor .info-container .box-nosotros .about-us .nosotros-img img {
        width: 150px;
        height: 150px;
    }
    .contenedor .info-container .box-nosotros .about-us .nosotros-text h3 {
        font-size: 18px;
    }
    .contenedor .info-container .box-nosotros .about-us {
        width: 70%;
    }
    .contenedor .info-container .box-nosotros .about-us .nosotros-text p {
        font-size: 14px;
        line-height: 20px;
    }

    /*********** Nuestros Proyectos ***********/
    .our-projects .ejeZproject .container-project .project-title h2 {
        font-size: 20px !important;
    }

    /************* Testimonios ***********/
    .testimonios .box-testimonios .card-testimonio .testimonio-text h3 {
        font-size: 15px;
    }
    .testimonios .box-testimonios .card-testimonio .testimonio-text p {
        font-size: 12px;
        line-height: 16px;
    }

    /************ Newsletter ***********/
    .newsletter .contenido p {
        font-size: 15px;
    }
    .newsletter .contenido a {
        font-size: 14px;
        width: 35%;
        height: 30px;
        padding: 4px 0px 0px 0px;
    }
    .newsletter .contenido img {
        width: 200px;
    }

    /*********** Pagina Servicios **********/
    .contenedor .service-container {
        width: 100%;
        padding-bottom: 130px;
    }
    .contenedor .service-container h2 {
        font-size: 30px !important;
    }
    .contenedor .service-container p{
        width: 80%;
        font-size: 14px;
        margin: auto;
        line-height: 20px;
        text-align: left;
    }
    .contenedor .service-container .gallery-img .card-servicio img {
        height: 100px;
        border-radius: 15px;
    }
    .contenedor .service-container .gallery-img .card-servicio .texto-encima h3 {
        font-size: 20px;
    }
    .contenedor .service-container .gallery-img .card-servicio:hover .texto-encima h3 {
        font-size: 30px;
    }

    /*********** Footer ***********/

    .site-footer {
        height: 110px;
    }
    .site-footer .footer-container {
        padding: 0px;
        margin: 0px;
    }
    .site-footer .footer-container .redes-sociales {
        margin-top: 0px;
    }
    .site-footer .footer-container .legales {
        margin: 0px 0px 10px 0px;
    }
    .site-footer .footer-container .legales a {
        font-size: 8px;
        margin-bottom: 0px;
    }

    .site-footer .footer-container p {
        font-size: 8px;
        margin-top: 2px;
    }
    /********* Pagina Proyectos **********/
    .galeria-proyectos {
        grid-template-columns: repeat(1, 1fr)!important;
    }
    .galeria-proyectos .galeria-item:nth-child(1) {
        grid-row-start: span 1;
        grid-column-start: span 1;
    }
    .galeria-proyectos .galeria-item:nth-child(2) {
        grid-column-start: span 1;
    }
    .galeria-proyectos .galeria-item:nth-child(3) {
        grid-column-start: span 1;
    }
    .galeria-proyectos .galeria-item:nth-child(5) {
        grid-column-start: span 1;
    }
    .galeria-proyectos .galeria-item:nth-child(7) {
        grid-column-start: span 1;
    }
    .galeria-proyectos .galeria-item:nth-child(4) {
        grid-column-start: span 1;
    }
    .galeria-proyectos .galeria-item:nth-child(8) {
        grid-column-start: span 1;
    }
    .galeria-proyectos .galeria-item:nth-child(9) {
        grid-column-start: span 1;
    }
    .galeria-proyectos .galeria-item:nth-child(10) {
        grid-column-start: span 1;
    }
    .galeria-proyectos .galeria-item:nth-child(11) {
        grid-column-start: span 1;
    }
    .galeria-proyectos .galeria-item:nth-child(6) {
        grid-row-start: span 1;
        grid-column-start: span 1;
    }
    .galeria-proyectos .galeria-item:nth-child(12) {
        grid-column-start: span 1;
    }
    

}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
    display: none !important;
  }
  
  /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
  * Hide visually and from screen readers, but maintain layout
  */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
  
  .clearfix:before,
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  
  .clearfix:after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
    a,
    a:visited {
      text-decoration: none;
    }
    a[href]:after {
      content: " (" attr(href) ")";
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
    pre {
      white-space: pre-wrap !important;
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  