:root {
    --red: #000000;
    --black: #252a34;
    --blue: #eeae00;
    --white: #eaeaea;
}
body {
    background: var(--black);
}
label{
    font-weight: 500;
}
#caja {
    width: 40%;
    background: white;
    box-shadow: 0 0 2px #ccc;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
}
@media only screen and (max-width:1400px) {
    #caja {
        width: 60%;
    }
}
@media only screen and (max-width:800px) {
    #caja {
        width: 90%;
    }
}
#caja img{
    display: block;
    width: 20%;
    margin: auto;
    justify-content: center;
    margin-bottom: 30px;
}
input[type="text"] {
    width: 100%;
    padding: 5px 10px;
    border: 2px solid var(--blue);
}
#descripcion {
    width: 100%;
    height: 100px;
    padding: 5px 10px;
    border: 2px solid var(--blue);
    margin-top: 5px;
}
input[type="file"] {
    display: none;
}
label {
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
    border: 2px solid var(--blue);
    background: var(--blue);
    color: var(--black);
    padding: 5px 10px;
    cursor: pointer;
}
label:hover {
    border: 2px solid var(--black);
    background: var(--black);
    color: var(--blue);
    transition: all 0.3s ease-in-out;
}
label[for="categorias"]:hover {
    border: 2px solid var(--blue);
    background: var(--blue);
    color: var(--black);
    cursor: default;
}
select[name="categoria"]{
    outline: none;
    padding: 5px 10px;
    border: 2px solid var(--blue);
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
}
label[for="contenido"] {
    display: block;
    justify-content: center;
    text-align: center;
    
}
label[for="contenido"]:hover {
    border: 2px solid var(--blue);
    background: var(--blue);
    color: var(--black);
    cursor: default;
}
input[type="submit"] {
    padding: 10px 10px;
    border: 2px solid var(--blue);
    background: var(--blue);
    color: var(--black);
    margin-top: 10px;
    cursor: pointer;
}
input[type="submit"]:hover {
    border: 2px solid var(--black);
    background: var(--black);
    color: var(--blue);
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}
