/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  

:root {
    --red:#ff2e63;
    --black:#252a34;
    --blue:#08d9d6;
    --white:#eaeaea;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body {
    background: #fff;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    background: rgb(255,255,255);
    background: rgb(236,236,236);
    background: -moz-linear-gradient(90deg, rgba(236,236,236,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 55%, rgba(236,236,236,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(236,236,236,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 55%, rgba(236,236,236,1) 100%);
    background: linear-gradient(90deg, rgba(236,236,236,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 55%, rgba(236,236,236,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7",endColorstr="#f7f7f7",GradientType=1);
}

/* Ir arriba */

.ir-arriba {
    position: fixed;
    bottom: 100px;
    right: 0;
    width: 50px;
    height: 50px;
    border: 2px solid var(--red);
    background: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 400ms ease;
}

.ir-arriba:hover {
    border: 2px solid var(--white);
    background: var(--red);
}

.ir-arriba > span {
    font-size: 40px;
    color: var(--black);
}

.ir-arriba:hover span {
    color: var(--white);
}

/* Menú de Navegación */

#header {
    position: relative;
    width: 100%;
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    background: rgb(0,0,0);
    background: rgb(255,255,255);
    background: rgb(247,247,247);
    background: -moz-linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 55%, rgba(236,236,236,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 55%, rgba(236,236,236,1) 100%);
    background: linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 55%, rgba(236,236,236,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7",endColorstr="#ececec",GradientType=1);
}
.menu .logo-box {
    letter-spacing: -9999px;
}
.menu .logo-box img {
    width: 100px;
    cursor: pointer;
}

.menu .list-container {
    margin-right: 20px;
}

.menu .list-container .lists {
    display: flex;
}

.menu .list-container .lists li {
    list-style: none;
}

.menu .list-container .lists li a {
    text-decoration: none;
    margin: 0px 20px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}

.menu .list-container .lists li a.activo {
    background: var(--red);
    color: #fff;
} 

.menu .list-container .lists li a:hover {
    background: var(--red);
    color: #fff;
} 

.btn-menu > .fa-bars {
    display: none;
}



/* Header */
.img-header {
    position: relative;
    width: 100%;
    height: 1260px;
}

.img-header .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.img-header .welcome {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.img-header .welcome h2 {
    font-size: 50px;
    color: #fff;
    font-weight: 200;
    margin-bottom: 50px;
}

.img-header .welcome hr {
    width: 33%;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 50px;
}

.img-header .welcome p {
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    width: 60%;
}

.img-header .welcome > button {
    width: 170px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.img-header .welcome > button:hover {
    background: var(--blue);
}


/* Acerca de Nosotros */
.contenedor {
    width: 100%;
    margin-top: 120px;
}

.contenedor .info-container {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.contenedor .btn {
    color: white;
    text-align: center;
}

.contenedor .btn a {
    width: 170px;
    height: 50px;
    border-radius: 24px;
    border: 2px solid var(--red);
    background-color: var(--red);
    font-size: 20px;
    color: #fff;
    display: inline-block;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.contenedor .btn a:hover {
    border: 2px solid var(--blue);
    background-color: var(--blue);
}

.contenedor .info-container h2 {
    font-size: 50px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
}

.contenedor .info-container p {
    text-align: center;
    font-size: 17px;
    color: var(--black);
    line-height: 35px;
    margin: 10px 0px;
}

.contenedor .info-container .gallery {
    position: relative;
    display: flex;
    text-align: center;
    cursor: pointer;
}

.contenedor .info-container .gallery img {
    width: calc(33.33% - 10px);
    height: 300px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* Página Nosotros */
.box-nosotros {
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-nosotros .about-us{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0px;
    
}
.box-nosotros .about-us {
    width: 40%;
    margin: 30px;
}
.box-nosotros .about-us .nosotros-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-nosotros .about-us .nosotros-img img { /* Tamaño de imagenes y borde redondeado */
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 30px;
    transition: 200ms;
}
.box-nosotros .about-us .nosotros-img img:hover {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
} 
.box-nosotros .about-us .nosotros-text {
    width: 100%;
    border: 2px solid var(--red);
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}
.box-nosotros .about-us .nosotros-text h3 {
    color: var(--red);
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}
.box-nosotros .about-us .nosotros-text:hover {
    border: 2px solid var(--blue);
}

.box-nosotros .about-us .nosotros-text:hover h3 {
    color: var(--blue);
}
.box-nosotros .about-us .nosotros-text p {
    font-size: 19px;
    text-align: center;
    color: var(--black);
    line-height: 30px;
    transition: 200ms;
}


.contendeor .info-container .about-more {
    width: 100%;
    justify-content: center!important;
}

.contenedor .about-more {
    display: block;
}


/* Nuestros Proyectos */

.our-projects {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/img-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
}

.our-projects .deg-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

.our-projects .ejeZproject {
    position: relative;
    width: 100%;
    height: 100%;
}

.our-projects .container-project {
    width: 90%;
    margin: auto;
    padding-top: 100px;
}

.our-projects .container-project .project-title {
    border: 2px solid #fff;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
}

.our-projects .container-project .project-title h2 {
    font-size: 40px;
    color: #fff;
    font-weight: normal;
}

.our-projects .container-project .project-title hr {
    background: #fff;
    width: 55%;
    margin: 10px auto;
}

.our-projects .container-project .project-img {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    padding-bottom: 100px;
}

.our-projects .container-project .project-img img {
    width: calc(30% - 10px);
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

/* Mapa */

.ubicacion {
    width: 100%;
    margin-top: 120px;
}

.ubicacion h2 {
    width: 50%;
    font-size: 50px;
    color: var(--black);
    font-weight: normal;
    margin-bottom: 20px;
    margin: auto;
    text-align: center;
}

.mapa {
    height: 420px;
    margin-top: 20px;
}


/* Testimonios */

.testimonios {
    width: 100%;
    margin-top: 120px;
}

.testimonios .testimonios-title {
    width: 50%;
    margin: auto;
    text-align: center;
}

.testimonios .testimonios-title h2 {
    font-size: 50px;
    color: var(--black);
    font-weight: normal;
    margin-bottom: 20px;
}

.testimonios .testimonios-title hr {
    width: 60%;
    margin: auto;
    height: 2px;
    background: var(--black);
    border: none;
}

.testimonios .box-testimonios {
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonios .box-testimonios .card-testimonio {
    width: 40%;
    margin: 30px;
}

.testimonios .box-testimonios .card-testimonio .card-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonios .box-testimonios .card-testimonio .card-img img { /* Tamaño de imagenes y borde redondeado */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 30px;
    transition: 200ms;
}

.testimonios .box-testimonios .card-testimonio .card-img img:hover {
    width: 170px;
    height: 170px;
    margin-bottom: 10px;
} 

.testimonios .box-testimonios .card-testimonio .testimonio-text {
    width: 100%;
    border: 2px solid var(--red);
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.testimonios .box-testimonios .card-testimonio .testimonio-text h3 {
    color: var(--red);
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.testimonios .box-testimonios .card-testimonio .testimonio-text p {
    font-size: 19px;
    text-align: center;
    color: var(--black);
    line-height: 30px;
    transition: 200ms;
}

.testimonios .box-testimonios .card-testimonio .testimonio-text:hover {
    border: 2px solid var(--blue);
}

.testimonios .box-testimonios .card-testimonio .testimonio-text:hover h3 {
    color: var(--blue);
}

/* Newsletter */
.newsletter {
    position: relative;
    height: auto;
    background-image: url(../img/img-14.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.newsletter .contenido {
    padding: 150px 0;
    color: white;
    text-align: center;
}

.newsletter .contenido p {
    font-size: 22px;
    margin-bottom: 20px;
}

.newsletter .contenido img {
    width: 350px;
    margin: 20px;
    object-fit: cover;
}

.button .transparente {
    background-color: transparent;
}

.button {
    width: 170px;
    height: 50px;
    border-radius: 24px;
    border: 2px solid #ffffff;
    /* outline: none; */
    font-size: 20px;
    color: #fff;
    display: inline-block;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease;  
}

.button:hover {
    background: var(--red);
    border: 2px solid #ff2e63;
}

/* Página Servicios */
.contenedor .service-container {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.contenedor .service-container h2 {
    font-size: 50px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
}
.contenedor .service-container .gallery-img .card-servicio {
    position: relative;
    display: inline;
    text-align: center;
    cursor: pointer;
}

.contenedor .service-container .gallery-img .card-servicio .texto-encima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.contenedor .service-container .gallery-img .card-servicio .texto-encima h3 {
    color: var(--white);
    text-shadow: 3px 3px 15px #000;
    font-size: 40px;
}
.contenedor .service-container .gallery-img .card-servicio:hover .texto-encima h3 {
    color: var(--white);
    text-shadow: 3px 3px 15px #000;
    font-size: 45px;
    transition: 200ms ease;
}

.contenedor .service-container .gallery-img {
    margin-top: 30px;
}

.contenedor .service-container .gallery-img .card-servicio img {
    width: calc(30% - 20px);
    height: 300px;
    object-fit: cover;
    margin: 10px 10px;

}
/* Página Contacto */
.img-box {
    position: relative;
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    background: url(../img/img-3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.contenedor-img .formulario-title {
    width: 70%;
    margin: auto;
    border: 2px solid #fff;
    align-content: center;
}
.contenedor-img .formulario-title h2 {
    width: 100%;
    margin: 10px auto;
    color: #fff;
}

.contenedor .info-container .contenedor-img .formulario-content {
    width: 60%;
    background: #fff;
    border-radius: 24px;
    border: 2px solid var(--red);
    padding-top: 30px;
    margin: 50px auto;  
}
.contenedor .info-container .contenedor-img .formulario-content #formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.contenedor .info-container .contenedor-img .formulario-content #formulario label {
    text-align: center;
    color: var(--black);
    font-size: 22px;
    margin: 30px 0px 10px 0px;
}
.contenedor .info-container .contenedor-img .formulario-content #formulario input {
    width: 80%;
    height: 40px;
    margin: auto;
    border: 2px solid var(--red);
    border-radius: 24px;
    outline: none;
    text-align: center;
    font-size: 17px;
    color: var(--black);
}
.contenedor .info-container .contenedor-img .formulario-content #formulario textarea {
    width: 80%;
    height: 200px;
    margin: auto;
    border: 2px solid var(--red);
    border-radius: 24px;
    outline: none;
    font-size: 15px;
    padding: 20px;
    color: var(--black);
}
.contenedor .info-container .contenedor-img .formulario-content #formulario .send {
    width: 100%;
    display: flex;
    margin: 40px 0px;
    justify-content: center;
}
.contenedor .info-container .contenedor-img .formulario-content #formulario .send button {
    width: 150px;
    height: 50px;
    border-radius: 24px;
    border: 2px solid var(--red);
    background-color: var(--red);
    /* outline: none; */
    font-size: 20px;
    color: #fff;
    display: inline-block;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}
.contenedor .info-container .contenedor-img .formulario-content #formulario .send button:hover {
    background: var(--blue);
    border: 2px solid var(--blue);
}
.contenedor .info-container .contenedor-img .formulario-content #formulario .mensaje-form {
    padding-bottom: 20px;
}

/* Footer */

footer {
    position: relative;
    width: 100%;
    background-color: var(--black);
    color: white;
    overflow: hidden;
}

footer .footer-container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

footer .footer-container img {
    left: 0px;
    width: 100px;
    vertical-align: middle;
    margin: 15px; 
}

footer .redes-sociales {
    margin-top: 20px;
    text-align: center;
}

footer .redes-sociales h3 {
    margin-bottom: 10px;
}

footer .redes-sociales h3 span {
    border: 2px solid #08d9d6;
    background-color: #08d9d6;
    color: #252a34;
}

footer .redes-sociales a {
    color: var(--blue);
    font-size: 35px;
    margin: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

footer .redes-sociales a:hover {
    color: var(--red);
}

footer hr {
    width: 60%;
    margin: auto;
    height: 2px;
    background: var(--white);
    border: none;
}

footer p {
    font-size: 15px;
    text-align: center;
    padding: 20px;
}

/* Media Queries */
@media only screen and (max-width:1450px) {
    /* Servicios */
    .contenedor .service-container .gallery-img .card-servicio .texto-encima h3 {
        font-size: 30px;
    }
    .contenedor .service-container .gallery-img .card-servicio:hover .texto-encima h3 {
        font-size: 35px;
    }
    .contenedor .service-container .gallery-img .card-servicio img {
        width: calc(40% - 20px);
    }
}

@media only screen and (max-width: 900px) {

    /* Navegación */

    .btn-menu .fa-bars {
        display: block;
        position: absolute;
        width: 28px;
        top: 20px;
        right: 10px;
        font-size: 28px;
        cursor: pointer;
    }
    .btn-menu .fa-bars:hover {
        cursor: pointer;
    }
    .menu .list-container {
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 800px);
        background: #fff;
    }
    .menu .list-container .lists {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 5px solid var(--red);
    }
    .menu .list-container .lists li {
        width: 90%;
        margin: 10px 0px;
        border-bottom: 1px solid var(--red);
        text-align: center;
    }
    .menu .list-container .lists li a{
        font-size: 20px;
    }
    .menu .list-container .lists li a.activo {
        background: none;
        color: var(--red);
    }
    .menu .list-container .lists li a:hover {
        background: none;
        color: var(--red);
    }

    /* Header */
    .img-header {
        height: 1050px;
    }

    .img-header .video-container video {
        padding-bottom: 70%;
    }
    
    .img-header .welcome {
        height: 80%;
        margin-top: 100px;
    }
    .img-header .welcome img {
        width: 50%;
    }
    
    .img-header .welcome h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    
    .img-header .welcome hr {
        width: 50%;
        margin-top: 30px;
    }
    
    .img-header .welcome p {
        font-size: 20px;
        margin-top: 5px;
    }
    
    .img-header .welcome > button {
        font-size: 18px;
    }
    .img-header .welcome > button:hover {
        background: var(--blue);
    }

    /* Acerca de */
    .contenedor .info-container h2 {
        font-size: 40px;
    }
    .contenedor .info-container .gallery {
        margin: 0px 0px;
        flex-direction: column;
    }
    
    .contenedor .info-container .gallery img {
        width: calc(100% - 10px);
    }
    .contenedor .btn a {
        font-size: 18px;
    }

    /* Nuestros Proyectos */
    .our-projects .container-project .project-title h2 {
        font-size: 30px;
    }
    .our-projects .container-project .project-img {
        flex-direction: column;
    }
    
    .our-projects .container-project .project-img img {
        width: calc(100% - 10px);
    }

    /* Mapa */
    .ubicacion {
        margin-top: 60px;
    }
    .ubicacion h2 {
        font-size: 40px;
    }

    /* Testimonios */
    .testimonios {
    margin-top: 80px;
    }
    .testimonios .box-testimonios .card-testimonio {
        width: 100%;
    }

    /* Newsletter */
    .button {
        font-size: 18px; 
    }

     /* Página Nosotros */
    .acerca-de {
        margin-top: 70px;
    }

    .box-nosotros {
        margin-top: 80px;
        }
    .box-nosotros .about-us {
            width: 100%;
        }

   /* Servicios */
   .contenedor .service-container .gallery-img .card-servicio img {
    width: calc(90% - 20px);
    }

    /* Contacto */
    .contenedor-img .formulario-title {
        width: 100%;
    }
    .contenedor-img .formulario-title h2 {
        font-size: 35px;
    }
    .contenedor .info-container .contenedor-img .formulario-content {
        width: 100%;
        background: #fff;
        border-radius: 24px;
        border: 2px solid var(--red);
        padding-top: 30px;
        margin: 50px auto;  
    }
}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
    display: none !important;
  }
  
  /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
  * Hide visually and from screen readers, but maintain layout
  */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
  
  .clearfix:before,
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  
  .clearfix:after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
    a,
    a:visited {
      text-decoration: none;
    }
    a[href]:after {
      content: " (" attr(href) ")";
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
    pre {
      white-space: pre-wrap !important;
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  