.user-panel {
    height: 60px;
}
.user-panel>.info {
    position: relative;
    left: auto;
}
.skin-blue .sidebar-menu>li.header {
    color: white;
}
.swal2-popup {
    font-size: 1rem !important;
}
@media only screen and (max-width: 900px){
    .swal2-popup {
        font-size: .7rem !important;
    }
}
.login-page .main-footer {
    display: none;
}