:root {
    --red: #000000;
    --black: #252a34;
    --blue: #eeae00;
    --dorado: #d18e10;
    --white: #eaeaea;
}
body {
    background: var(--black);
}

label{
    font-weight: 500;
}
#caja {
    width: 40%;
    background: white;
    box-shadow: 0 0 2px #ccc;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
}
@media only screen and (max-width:1400px) {
    #caja {
        width: 60%;
    }
}
@media only screen and (max-width:800px) {
    #caja {
        width: 90%;
    }
}
.caja img{
    display: block;
    width: 20%;
    margin: auto;
    justify-content: center;
    margin-bottom: 30px;
}
@media only screen and (max-width:800px) {
    .caja img{
        width: 30%;
    }
}
@media only screen and (max-width:500px) {
    .caja img{
        width: 50%;
    }
}
input[type="text"] {
    width: 100%;
    padding: 5px 10px;
    border: 2px solid var(--blue);
    outline: none;
}
#descripcion {
    width: 100%;
    height: 100px;
    padding: 5px 10px;
    border: 2px solid var(--blue);
    margin-top: 5px;
    outline: none;
}
input[type="file"] {
    display: none;
}
label {
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
    border: 2px solid var(--blue);
    background: var(--blue);
    color: var(--black);
    padding: 5px 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
label:hover {
    border: 2px solid var(--black);
    background: var(--black);
    color: var(--blue);
    transition: all 0.3s ease-in-out;
}
label[for="categorias"]:hover {
    border: 2px solid var(--blue);
    background: var(--blue);
    color: var(--black);
    cursor: default;
}
select[name="categoria"]{
    outline: none;
    padding: 5px 10px;
    border: 2px solid var(--blue);
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
}
label[for="contenido"] {
    display: block;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    
}
label[for="contenido"]:hover {
    border: 2px solid var(--blue);
    background: var(--blue);
    color: var(--black);
    cursor: default;
}
#contenido {
    width: 100%;
    height: 500px;
    padding: 5px 10px;
    border: 2px solid var(--blue);
    margin-top: 5px;
    outline: none;
}
#agregar_post {
    font-size: 14px;
    font-weight: 600;
    color: var(--black);
    border: 2px solid var(--blue);
    background-color: var(--blue);
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 15px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    outline: none;
}
#agregar_post:hover {
    border: 2px solid var(--black);
    background-color: var(--black);
    color: var(--blue);
    transition: all 0.3s ease-in-out;
}
input[type=”file”]#imagen {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
label[for="imagen"] {
    font-size: 14px;
    font-weight: 600;
    color: var(--black);
    border: 2px solid var(--blue);
    background-color: var(--blue);
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 15px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    }
label[for="imagen"]:hover {
    border: 2px solid var(--black);
    background-color: var(--black);
    color: var(--blue);
    transition: all 0.3s ease-in-out;
}    
